body {
    background-color: #eee;
}

/* table, td {
    border: 1px solid black;
} */

table {
    width: 100%;
}

.center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 35%;
    height: auto;
}

#downloads {
    text-align: center;
}

img {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .center {
        width: 50%;
    }
}

.image img {
    width: 100%;
    text-align: center;
    color: white;
}

.showcase {
    height: 100px;
    background-position: center;
    background-size: cover;
}

.showcase p {
    color: white;
    font-size: 1em;
    font-family: "Helvetica";
    font-weight: bold;
    padding-left: 2px;
    padding-top: 2px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.tiltI {
    transform: skewY(2deg);
}

.tiltO {
    transform: skewY(-2deg);
}
