body {
    background-color: #eee;
    font-family: "Helvetica";
    /* background-image: url('../img/background.png'); */
    background-color: #333;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* table, td {
    border: 1px solid black;
} */

table {
    width: 100%;
}

.center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 35%;
    height: auto;
}

#downloads {
    text-align: center;
}

img {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .center {
        width: 50%;
    }
}

.image img {
    width: 100%;
    text-align: center;
    color: white;
}

.showcase {
    height: 150px;
    background-position: center;
    background-size: cover;
}

.showcase p {
    padding-left: 2px;
    padding-top: 2px;
}

p, h2, h3 {
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin: auto;
}

.tiltI {
    transform: skewY(2deg);
}

.tiltO {
    transform: skewY(-2deg);
}

a {
    text-decoration: none;
}

a:link {
    color: deepskyblue;
}

a:visited {
    color: deepskyblue;
}

a:hover {
    color: aqua;
}